.choice{
	font-size: 48px;
	display: inline;
	list-style-type: none;
}
html , body {
	height: 100%
}
body{


}
.choice li{
 	float:left;
  width: 30%; 
}
.choice li img{
 	max-width: 30%; 
 	max-height: 40%;
}
ul{
		list-style-type: none;	
		padding: 0px;
}

.choice li:hover{
	color:#00ff00;
}
nav{
	background-image: url("../img/bg-top.png");
	background-size: 100% 100%;
}
footer{
	position: absolute;
	height: 2em;
	bottom: 0em;
	width: 100%;
	background-image: url("../img/bg-bottom.png");
	background-size: 100% 100%;
	box-shadow: 0px -5px 5px #ddd;
}
nav, hr{
	box-shadow: 0px 5px 5px #ddd;
}





@keyframes swing {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  

  40% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;

}


@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}


.animated {
  -webkit-animation-duration:0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-duration:5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
[ui-view].ng-enter{
  -webkit-animation-duration:1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.btn.btn-full{
	width:100%;
}
.results{
	font-size: 2em;
}
.results ul {
	background-color: #ddd;
	width: 70%;
	border-radius: 5px; 
	border: 1px solid #aaa; 
}