<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="js/main.js"></script>
    <!-- Custom CSS -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="App" ng-controller="MainController">

    <!-- Navigation -->
<nav class="" role="">
    
   
        <!-- Collect the nav links, forms, and other content for toggling 
        <h1 style="margin-left:5px;margin-bottom:5px;">
        -->
        		<span style="font-size:2em;" class="glyphicon glyphicon-menu-hamburger" ng-click="showMenu=!showMenu"></span>
        		<img  style="margin-bottom:12px;padding-right:1em" src="/img/isp.png"/>
        				
        		<img class="pull-right" style="height:1.8em;padding-right:1em" src="/img/logo-ing-new.png"/>
        
    
</nav>

<div ng-if="showMenu" >
            <ul class="nav nav-pills nav-stacked">
                <li><a ui-sref="survey"> Home</a></li>
                <li><a ui-sref="results"> Results</a></li>
                
                
            </ul>
           <hr>
</div>


<center>
    <!-- Page Content -->
    <ui-view></ui-view>
</center>
 	

<footer>
	<span class="pull-right" style="color:#fff;padding-right:1em"> &copy; ISP 2015 </span>
</footer>

    

    <!-- jQuery -->
    
</body>

</html>
