

<br>
<h3> Poniżej znajdziesz wyniki obecjej ankiety. możesz je wykasowac w każdej chwili</h3>
<div class="results">
 	<ul>
 		<li>
 			Fajnie: {{ data.good}}
 		</li>
 		<li>
 			Średnio: {{ data.ok}}
 		</li>
 		<li>
 			Słabo: {{ data.bad}}
 		</li>
 	</ul>

 </div>



<hr/>

 <button class="btn btn-danger btn-full" ng-click="reset()">
 				Resetuj (ostrożnie)
 </button>
