
<div ng-controller="Survey">
<div ng-if="showingThankYou" class="zoomIn animated">
		<h3> Dziękujemy za twój głos :) </h3>
</div>

<ul class="choice"  ng-if="!showingThankYou">
 			<li  class="swing animated infinite" ng-click="score('bad')">
 					<img src="/img/sad.png">
 			</li>
 			<li class="swing animated infinite" ng-click="score('ok')">
 					<img src="/img/ok.png">
 			</li>
			<li class="swing animated infinite"  ng-click="score('good')">
 					<img src="/img/happy.png">
 			</li>
 		</ul>
</div>